/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import './tailwind.css';

:root {
  --primary-color: #0B3C5D;
  --secondary-color: #D9B310;
  --background-color: #F5F5F5;
  --background-color: #eef2ff;
  --font-family: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, var(#fff), var(#edf1ff));
  color: #333;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
